<div style="display: flex; align-items: center; gap: 20px; margin-bottom: 20px;">
  <mat-form-field appearance="outline">
    <mat-label>Number of channels</mat-label>
    <mat-select [(ngModel)]="selectedChannels">
      <mat-option *ngFor="let channel of channels" [value]="channel">
        {{ channel }}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <button mat-flat-button [className]="className" [color]="buttonColor" (click)="startDrawing()">
    {{ buttonText }}
  </button>

  <div>
    <app-real-time-plot></app-real-time-plot>
    <app-real-time-plot></app-real-time-plot>
    <app-real-time-plot></app-real-time-plot>
    <app-real-time-plot></app-real-time-plot>
    <app-real-time-plot></app-real-time-plot>
    <app-real-time-plot></app-real-time-plot>
    <app-real-time-plot></app-real-time-plot>
    <app-real-time-plot></app-real-time-plot>
  </div>
</div>