<div [ngSwitch]="plotType">
    <div *ngSwitchCase="0">
        <app-uplot-template></app-uplot-template>
        <app-uplot-template></app-uplot-template>
        <app-uplot-template></app-uplot-template>
        <app-uplot-template></app-uplot-template>
        <app-uplot-template></app-uplot-template>
        <app-uplot-template></app-uplot-template>
        <app-uplot-template></app-uplot-template>
        <app-uplot-template></app-uplot-template>
    </div>
    <div *ngSwitchCase="1">
        <p>ECharts</p>
    </div>
    <div *ngSwitchCase="2">
        <p>Something Else</p>
    </div>
</div>